

.newPackage #searchingFromForHoliday, #Filter{ margin: 20px; border: 2px solid #81C3D7; padding: 5px;}
.newPackage .form-group { margin: 5px;}

/* Navigation button and items*/
nav button, nav a{
  padding: 5px;
  color: #D9DCD6 !important;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  background-color: rgba(255,255,255,0); /* transparent bg */
}

/* Items in nav bar on mouse hover */
nav button:hover, nav a:hover:not(.navbar-brand) {
   background-color: #81C3D7;
   color: #16425B !important;
}

/* Dropdown menu in navbar */
.dropdown-menu{
  background-color: #16425B;
  text-align: center;
  min-width: 135px;
  border-color: #D9DCD6;
}

/* Button when nav bar is collapsed */
.navbar-toggler{ background-color: #D9DCD6;}
/* Spreads out the items */
 nav .nav-item{ padding-left: 5px; padding-right: 5px; }

/* the nav bar itself */
nav{
  background-color: #16425B;
  overflow: visible;
 }

/* Hides the staff button */
 nav #admnBtn{
   display: none;
 }

/* Sign In */
.modal-content{
  border-radius: 20px !important;
  box-shadow: 5px 10px 25px #3A7CA5;
  border: none;
}

#bookingContainer{ min-width: 500px;}
#border{ padding: 50px; }
#forgotPass { text-align: center;}
#form-distance { padding-top: 5px;}

/* Header in the modal */
#login-text {
  text-align: center;
  padding-bottom: 6vh;
}

/* button and text under button in modal */
#signing-in{
  text-align: center;
   padding-top: 8vh;
 }

/* Links in the modal */
#border a{
  text-decoration: none;
  color: black;
}


/* Main content */
#bgImg{
  background-image: url('graphics/mountain.jpeg');
  height: 100vh;
  width: auto;
  color: black;
  text-align: center;
  padding: 25px;
}


/* Spaces out the rows on page: x - sorry forgot what page*/
.row{ padding: 15px; }

/* Staff page only table*/
.staff .table{ border: 2px solid black; }
/* Staff page only dropdown button*/
.staff button{ margin-bottom: 10px;}
/* Staff page only btn spacing */
.staff input:hover{ background-color: #81C3D7;}
/* Staff page only btn width*/
.staff input{ width: 165px;}
.staff .dropdown { margin: 10px; }

/* Staff page only buttons */
.staff input{
  margin: 5px;
  border-radius: 0px;
  background-color: #81C3D7;
  color: black;
  border: none;
}



 /* When screen size <990px */
 @media screen and (max-width: 990px) {
   /* Spreads out the items */
   nav .nav-link{ max-width: 15vh; }
   nav a{ padding-left: 3px!important;}
  /* Sign up and login in buttons */
   nav #buttons .nav-item  {padding-top: 5px;}
 }


 /* When screen size <990px */
 @media screen and (max-width: 990px) {
   /* Spreads out the items */
   nav .nav-link{ max-width: 15vh; }
   nav a{ padding-left: 3px!important;}
  /* Sign up and login in buttons */
   nav #buttons .nav-item  {padding-top: 5px;}
 }

 .infoPopup {
   position: relative;
   bottom: 0;
   z-index: 10;
   width: 200%;

 }
 .infoContainer {
  width: 30%;
  height: 100%;
  background: white;
  padding: 5px;
 }

 .container2{
   width:100%;
 }