
/* Navigation */

nav img{
  max-width: 40vh;
}

#noteBookPng{
  max-width: 65px;
}

#navDropDown,#listButton{
  margin-left: 10px;
  margin-right: 10px;
}

/* User List */
#deleteEntry{
  text-align: center;
  color: red;
  -webkit-text-stroke: 0.5px black;
  font-size: 20px;
}
#tableDeleteCol{ text-align: center;}

/* Main content */

.map {
  position: static;
  width: 100%;
  height: 50vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}

/* Make all headings the same font and all other text has same font */
h1,h2,h3,h4,h5,h6{ font-family: 'Oswald' !important;}
p,u{ font-family: 'Roboto' !important; }


/* Title on the index */
#siteTitle h1{
  font-size: 100px;
  margin-left: 20px;
  padding-top: 20vh;;
  margin-bottom: 2vh;
  color: black;

}

#bgImage{
  background-image: url('../Images/bg2.png');

  /* Makes the image stationary */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#textAreaIndex{ margin-top: 50px; margin-bottom: 50px;}

#textAreaIndex p, #textAreaIndex h3{
  margin-left: 30px;
  font-size: 20px;
}

#textAreaIndex h3{
  margin-left: 16px;
}

#carouselArea{
  background-image: url('../Images/sliderArea.png');
  padding: 100px;
}

#carouselArea span{ padding: 30px;}
#carouselArea h1{ font-size: 1.2vw;}
#carouselArea p,u{ font-size: 1vw !important;}

.carousel-item img{
  border: 15px #93c718 solid;
  border-radius: 5px;
  opacity: 0.87;
}

.carousel-inner{
  max-width: 60%;
}

#sliderCounter{
  margin-top: 20px;
}

#sliderCounter button{
  margin: 2px;
  padding-left: 25px;
  padding-top: 5px;
}

#mobileCarouselTitle{ color: white; margin-bottom: 4;}


/* Carousel card flipping - flipping design obtained from: https://www.w3schools.com/howto/howto_css_flip_card.asp*/

/* Used to position the back and front of the card flip */
.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  min-height: 26vw;
}

/* Flips to the back on hover */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  border: 12px #c6025c solid;
  border-radius: 3px;
}

/* Footer */
footer{
  background-color: black;
  color: white;
  text-align: center;
  opacity: 0.97;
}

footer #map{
  border: 5px white solid;
  height: 400px;
}

footer .row{
  padding-top: 15px;
}

#copyrightText{
  padding-bottom: 10px;
  margin-top: 40px;
}

#footerContactUs {
  text-align: left !important; font-size: 15px!important;
}

#footerContactUs a {
  color: white;
  text-decoration: none;
}

/* Different Screen sizes */
@media screen and (max-width: 1200px) {
  #mobileCarousel{ display: block !important;}
  #browserCarousel {display: none !important;}
  #bg-image{background-position:bottom;}

  .carousel-inner{ max-width: 60%;}

  /* Title on a smaller screen */
  #siteTitle{ text-align: center; margin-bottom: 10vh;}
  #siteTitle h1{font-size: 65px;}
}

/* Different Screen sizes */
@media screen and (max-width: 920px) {
  .carousel-inner{ max-width: 70%;}
}


/* */


.infoPopup {
  position: relative;
  bottom: 0;
  z-index: 10;
  width: 200%;

}
.infoContainer {
 width: 100%;
 height: 100%;
 background: white;
 padding: 5px;
}

.container2{
  width:100%;
}

.map-list-entry {
  margin-top: 30px;
  margin-bottom: 30px;
}